* {
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
  color: #e8e8e8;
}

a {
  color: #8ab4f8;
}

#main-title {
  text-align: center;
  color: rgb(50, 255, 50);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin: 15px;
}

ul,
ol {
  color: aqua;
  padding-left: 40px;
  margin-bottom: 20px;
}

figure {
  text-align: center;
  margin: 20px;
}
