* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #000;
}

a {
  color: chartreuse;
  text-decoration: none;
}
/* Class selectors */

.sporty {
  color: red;
}

.casual {
  color: blueviolet;
}

.formal {
  color: brown;
}

/* Multi selector */
.sporty,
.formal,
.casual {
  font-size: 35px;
}

/* Id selectors */

#container {
  border: 1px solid red;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

/* Descendent styles */
#container p {
  color: white;
}
